body, ul {
    color: #0e0e0e;
    font-family: 'Segoe UI Light';
    line-height: 160%;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
body > * {
    box-sizing: border-box;
}
h2 {
    font-family: 'Segoe UI Semibold';
    text-align: center;
    text-transform: uppercase;
}
p {
    margin:0;
    padding: 0;
    margin-bottom: 8px;
}
h3 {
    margin: 0;
    padding: 0;
}
a {
    color: white;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
#wrapAll {
    background: #ffffff url('../images/fond.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 20px;
    height: auto;
}
.entete {
    display: flex;
    margin: 0 auto;
    width: 80%;
}
nav {
    width: 100%;
}
nav .list {
    display: flex;
    float: right;
    vertical-align: middle;
    padding-top: 63px;
}
nav .list li {
    list-style-type: none;
    margin-left: 10px;
}
nav .list a {
    display: inline-block;
    padding: 30px 5px;
    text-transform: uppercase;
}nav .list a:hover {
    background: white;
    color: #f9b233;
    transition: .3s;
}
nav .list li.active a {
     background: white;
     color: #f9b233;
}
#wrapAll .listImg li {
    list-style-type: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#wrapAll .slide {
    background: url('../images/imgSlider1.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
#wrapAll .contenu {
    background: white;
    opacity: .6;
    margin: 0 auto;
    width: 69%;
    padding: 20px 25px;
    margin-bottom: 30px;
    margin-top: 30px;
}
#wrapAll .contenu h2 {
    text-align: center;
}
#wrapAll .listTypeVoyage {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;
    margin: 25px 0 10px;
}
#wrapAll .listTypeVoyage li {
    list-style-type: none;
    padding-bottom: 15px;
    position: relative;
    height: 400px;
}

#wrapAll .listTypeVoyage li p:first-child {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 100%;
    margin-bottom: 0;
}
#wrapAll .listTypeVoyage li .descript {
    position: absolute;
    bottom: 11px;
    left: 0;
    background: #202120;
    color: white;
    padding: 7px;
    line-height: 150%;
}
#wrapAll .listTypeVoyage li .descript h3 {
    margin-bottom: 5px;
    font-weight: bold;
}
#wrapAll .listTypeVoyage li .descript a {
    text-transform: uppercase;
}
#wrapAll footer {
    background: #343434;
    text-align: center;
    height: 100px;
    line-height: 100px;
    color: white;
    font-family: 'Segoe UI Semibold';
}
